<nav class="nav">
    <ul class="menu" id="menu">
        {{ $currentPage := . }}

        {{ range .Site.Menus.main }}
            {{ if and (eq .Identifier "theme-switcher") $.Site.Params.enableDarkMode }}
                {{ if eq $.Site.Params.headerLayout "flex" }}
                    {{ $switcher := partial "components/dark-mode.html" $currentPage }}
                    {{ with $switcher }}
                        <li class="menu-item">
                            {{ . }}
                        </li>
                    {{ end }}
                {{ end }}
            {{ else if eq .Identifier "lang-switcher" }}
                {{ if and $.Site.IsMultiLingual $.Site.Params.enableLangToggle }}
                    {{ if eq $.Site.Params.headerLayout "flex" }}
                        {{ $switcher := partial "components/multilingual.html" $currentPage }}
                        {{ with $switcher }}
                            <li class="menu-item">
                                {{ . }}
                            </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ else if eq .Identifier "search" }}
                {{ if and (eq $.Site.Params.headerLayout "flex") (or $.Site.Params.enableLunrSearch $.Site.Params.enableAlgoliaSearch) }}
                    {{- $iconName := (string .Post) -}}
                    <li class="menu-item search-item">
                        {{ partial "components/search.html" (dict "$" $currentPage "iconName" $iconName) }}
                    </li>
                {{ end }}
            {{ else if eq .Identifier "fuse-search" }}
                {{ if and (eq $.Site.Params.headerLayout "flex") (or $.Site.Params.search.fuseSearch) }}
                    {{- $iconName := (string .Post) -}}
                    <a id="search-btn" href="#" class="menu-item search-item" data-target="search-modal">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            height="16" width="16"
                            class="search-icon"
                            data-type="search"
                        >
                            <path fill="currentColor"
                              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </a>
                {{ end }}
            {{ else }}
                <li class="menu-item{{ if or ($currentPage.IsMenuCurrent .Menu .) (and ($currentPage.HasMenuCurrent .Menu .) $.Site.Params.activeInSection) }} active{{ end }}">
                    {{- $linkType := (string .Pre) -}}
                    <a href="{{ .URL }}"{{ if eq $linkType "external" }} target="_blank" rel="external noopener"{{ end }}>
                        {{- $iconName := (string .Post) -}}
                        {{- partial "utils/icon.html" (dict "$" $ "name" $iconName "class" .Identifier) -}}
                        {{- with .Name -}}
                            <span class="menu-item-name">{{ . }}</span>
                        {{- end -}}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
